@import "../../../assets/scss/breakpoints.scss";
@import "../../../assets/scss/colors.scss";

.steps-section {
  margin-bottom: 3rem;
  h2 {
    text-align: center;
    margin: 3rem;
    margin-top: 3.5rem;
    text-transform: uppercase;
    color: $primary;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .container {
    display: flex;
    width: 100%;
    @include breakpoint(sm) {
      flex-direction: column-reverse;
    }

    & > * {
      width: 100%;
    }

    .img-wrapper img {
      max-width: 10rem;
      object-fit: contain;
    }
    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 22rem;
    }
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .step-wrapper {
    @include breakpoint(sm) {
      margin-bottom: 1.7rem;
      padding: 0 2rem;
    }
    display: flex;
    align-items: center;
    gap: 2rem;

    h3 {
      cursor: pointer;
      background-color: #e6e6e6;
      padding: 0.5rem 1rem;
      border-radius: 100%;
      box-shadow: 0 0 0 10px #fff, 0 0 5px 9px rgba(0, 0, 0, 0.5);
      font-weight: bold;
      transition: all 0.2s ease-in;
    }
  }
  .step-wrapper-active {
    h3 {
      background-color: $secondry;
      color: #fff;
    }
  }

  .step-texts {
    cursor: pointer;
    h5,
    p {
      margin: 0;
      line-height: 1.1;
    }
    h5 {
      color: $primary;
      margin-bottom: 0.2rem;
    }
  }
}
.social-media-icon{
  color: white;
  border-radius: 100%;
   border: 2px;
   padding: 6px;
  
  background: $primary;
  
}